// -----------------------------------------------------------------------------
// This file contains all styles related to the navbar of the application.
// -----------------------------------------------------------------------------
@use "../abstracts" as *;

.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  &__logo {
    color: $white;
    font: normal 700 30px / 37px $font-montserrat;
  }

  &__links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include md {
      position: static;
      flex-direction: row;
      gap: 25px;
      width: auto;
    }
  }

  &__link {
    font: normal 400 14px / 17px $font-montserrat;
    text-transform: uppercase;
    text-decoration: none;
    color: $white;
    padding: 10px;

    @include on-event {
      color: $daisy-yellow;
      transition: ease-in 0.2s;
    }

    &--selected {
      color: $daisy-yellow;
      text-decoration: underline;
      text-underline-offset: 12px;
      text-decoration-thickness: 3px;
    }
  }
}
